<table class="table shadow">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nro</th>
            <th scope="col">Temperatura</th>
            <th scope="col">Estado</th>
            <th scope="col">Fecha</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let temp of temperaturas; index as i" class="table-info">
            <th scope="row" class="colorLt">{{i+1}}</th>
            <td class="colorLt">{{temp.valor}}</td>
            <th scope="row" class="colorLt"><!--Aqui puede ser critico o normal--></th>
            <td class="colorLt">{{temp.fecha | date:'yyyy/MM/dd HH:mm'}}</td>
        </tr>
    </tbody>
</table>