<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>
<!--LOGIN DE CHICHICOOOOOOO
    <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5" *ngIf="!loading">
                            <div class="text-center">
                                <img src="../../../assets/img/flojo.png" height="60" alt="Página principal Comfeco" />
                                <h1 class="h4 text-gray-900 mb-4">Bienvenido a SME</h1>
                            </div>
                            <form class="user w-100 m-auto" [formGroup]="form" (ngSubmit)="login()">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" formControlName="username" placeholder="Nombre de usuario..." [class.is-invalid]="inputInvalid('username')">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user" formControlName="password" placeholder="Password" [class.is-invalid]="inputInvalid('password')">
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox small">
                                        <input type="checkbox" class="custom-control-input" id="customCheck">
                                    </div>
                                </div>
                                <button class="btn btn-dark btn-user btn-block" [disabled]="form.invalid">
                                  Login
                              </button>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small h4 text-gray-900 mb-4" href="#">Olvidaste tu contraseña?</a>
                            </div>
                            <div class="text-center">
                                <a class="small h4 text-gray-900 mb-4" [routerLink]="['/auth/register']" routerLinkActive="router-link-active">Create una cuenta!</a>
                            </div>
                        </div>
                        <app-loading *ngIf="loading"></app-loading>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>-->
<div class="container col-xl-10 col-xxl-8 px-2 py-4">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">Sistema de Monitoreo y Evaluacion</h1>
        <p class="chistesito col-lg-10 fs-4">Estamos al control y almacenamiento de tus datos para un prevencion de algun tipo de contagio. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="contaner p-4 p-md-2 border rounded-3 bg-muted shadow">
            <div class="p-5" *ngIf="!loading">
                <div class="text-center">
                    <img src="../../../assets/img/flojo.png" height="60" alt="Página principal Comfeco" />
                    <h1 class="h4 text-gray-900 mb-4">Bienvenido a SME</h1>
                </div>
                <form class="user w-100 m-auto" [formGroup]="form" (ngSubmit)="login()">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-user" formControlName="username" placeholder="Nombre de usuario..." [class.is-invalid]="inputInvalid('username')">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control form-control-user" formControlName="password" placeholder="Password" [class.is-invalid]="inputInvalid('password')">
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox small">
                            <input type="checkbox" class="custom-control-input" id="customCheck">
                        </div>
                    </div>
                    <button class="btn btn-dark btn-user btn-block" [disabled]="form.invalid">
                      Iniciar sesión
                  </button>
                </form>
                <hr>
                <div class="text-center">
                    <a class="small h4 text-gray-900 mb-4" href="#">Olvidaste tu contraseña?</a>
                </div>
                <div class="text-center">
                    <a class="small h4 text-gray-900 mb-4" [routerLink]="['/auth/register']" routerLinkActive="router-link-active">Create una cuenta!</a>
                </div>
            </div>
            <app-loading *ngIf="loading"></app-loading>
        </form>
      </div>
    </div>
  </div>