<app-header class="header"></app-header>
<div class="container">
    <div class="text-center mt-3">
        <h2 class="text-gray-800 font-weight-bold">Monitoreo en tiempo real</h2>
    </div>
    <div class="row g-4 py-2 row-cols-1 row-cols-lg-1">
        <app-termometro class="termometro"></app-termometro>
        <!--<app-termometro class="termometro"></app-termometro>-->
    </div>
</div>
<!--<app-header class="header"></app-header>


<div class="container">
    
    <div class="row justify-content-center">
        <div class="container flex flex-col items-center justify-between h-full max-w-6xl px-8 mx-auto -mt-32 lg:flex-row xl:px-0">
            <div class=" row z-30 flex flex-col items-center w-full max-w-xl pt-48 text-center lg:items-start lg:w-1/2 lg:pt-20 xl:pt-40 lg:text-left" alt="texto">
                <h1 class="relative mb-4 text-3xl font-black leading-tight text-gray-900 sm:text-6xl xl:mb-8">Bienvenido al Hospital Veterinario Zoo Center</h1>
                
                <p class="mamoncito">Estamos al servicio de tu mascota todos los dias y a toda hora</p>
                  
                <img class="card o-hidden border-0 shadow-lg my-5" src="../../../assets/img/portada.jpg" alt="Login">
      
      </div>
      </div>
      </div>
</div>-->
