.style {
    grid-area: clinica;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.card {
    min-width: 500px;
}

.margin {
    margin-top: 50px;
}

.container-fluid {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "clinica clinica";
    row-gap: 1em;
    column-gap: 1em;
    max-width: 1300px;
}

@media (max-width: 748px) {
    .card {
        min-width: 300px;
    }
}
